@import "fonts";
@import "colors";
@import "variables";

body {
  font-family      : @pbp-font-body;
  font-size        : @pbp-base-font-size;
  background-color : @pbp-bg-color;
  color            : @pbp-fg-color;
  margin           : 0;
  padding          : 0;

  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.pbp-narrow() {
  width: @pbp-text-width;
  max-width: 100%;
}
.pbp-wide() {
  width: @pbp-image-width;
  max-width: 100%;
}

.pbp-verywide() {
  width: 80%;
}

.pbp-fullwidth() {
  width: 100%;
}

.container {
  // @media (min-width: 768px) {
  // }

  // each container has a child element, typically an article or section.
  // those are full width, but their children should be centered flex
  // columns.  text content within them should be fairly narrow and imagery
  // (img,video,figure,canvas) should be wider
  & > article,
  & > nav,
  & > section {
    display: flex;
    align-items: center;
    flex-direction: column;

    &:first-child {
      margin-top : @padding-large-vertical * 2;
    }

    // assume all elements are textual (p, h1, etc)
    & > *,
    .pbp-narrow {
      .pbp-narrow();
    }

    // override for visual elements.
    // I'm removing figure, video, and canvas for now.  My older posts don't look good because they have erratically sized images.
    .pbp-wide {
      .pbp-wide();
    }

    .pbp-verywide {
      .pbp-verywide();
    }

    .pbp-fullwidth {
      .pbp-fullwidth();
    }

  }
}

#fireflies-container {
  // skip the top margin for fireflies, it should but up against the navbar
  margin: 0 -12px 0;
  #fireflies-canvas {
    margin-bottom: @padding-large-vertical;
    border-bottom: 1px solid lighten(@pbp-bg-color, 8%);
  }
}
