// @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/*********************************************************************
 *                           Import fonts                            *
 *********************************************************************/

// @pbp-font-title: serif;
@pbp-font-nav: 'Overpass Mono', sans-serif;
@pbp-font-title: 'Overpass', sans-serif;
@pbp-font-body: 'Overpass', sans-serif;
@pbp-font-mono: 'Overpass Mono', monospace;

@pbp-base-font-size: 18.0px;
@pbp-title-size-adjust: 1; // factor by which to adjust title size based on the font in use (early57 is really small)
