/*********************************************************************
*                              Navbar                               *
 *********************************************************************/

@import "variables";
@import "container";
@import "fonts";

.pbp-dot-idle() {
  // max-width : 0;
  // left      : 0;
  // top       : -64px;
  // opacity   : 0;
}

.pbp-dot-active() {
  max-width: 20px;
  left: 0;
  top: 0;
  opacity: 1;
}

.pbp-navbar-container {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  background: #000;
  padding: 0 12px 0;

  .pbp-navbar {
    @navbar-breakpoint: 820px;
    position: relative;

    font-family: @pbp-font-nav;
    font-size: @pbp-base-font-size * @pbp-title-size-adjust;
    font-weight: bold;
    line-height: 1;

    .pbp-wide();

    padding: 1.6 * @padding-large-vertical 0 1.6 * @padding-large-vertical;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    @media (max-width: @navbar-breakpoint) {
      grid-template-columns: 1fr;
    }

    align-items: center;

    .pbp-nav-description {
      text-align: left;
      @media (min-width: @navbar-breakpoint) {
        padding-bottom: 10px; // bump up to align better with logo (mago3 font has a lot of white space at the top)
      }
      @media (max-width: @navbar-breakpoint) {
        display: none;
      }
    }

    .pbp-nav-logo {
      text-align: center;
      padding-bottom: 10px; // bump up to align better with logo (mago3 font has a lot of white space at the top)
      // @media (max-width: @navbar-breakpoint) {
      //   display: none;
      // }
    }

    .pbp-nav-separator {
      .pbp-blue();
      margin: 0px 0 -5px;
    }

    .pbp-navitems {
      position: relative;
      display: flex;
      flex-direction: row;
      // align-items: center;
      justify-content: flex-end;
      @media (max-width: @navbar-breakpoint) {
        justify-content: center;
      }
      @media (min-width: @navbar-breakpoint) {
        padding-bottom: 10px; // bump up to align better with logo (mago3 font has a lot of white space at the top)
      }

      // colorize the nav items, text and images alike
      // &::before {
      //     content: '';
      //     pointer-events: none;
      //     position: absolute;
      //     top: 0;
      //     right: 0;
      //     bottom: 0;
      //     left: 0;
      //     mix-blend-mode: multiply;
      //     background-color:
      // }

      img {
        height: 0.7rem;
      }
      .pbp-navitem {
        color: @pbp-fg-color;
        margin: 0;
        text-align: right;
        text-decoration: none;
        display: flex; // just to vertically center the images inside the links, would use font icons instead if the font files weren't so big
        position: relative;
        .hover-darken();
        &:last-child {
          padding: 0;
        }
        // &::after {
        //     .nav-gradient();
        // }
        // &[class^="icon-"], &[class*=" icon-"] {
        //     font-size: 0.7em; // make icons a bit smaller
        // }
      }
    }
  }
}

.nav-gradient() {
  @gradient-top-opacity: 0%;
  @gradient-top: rgba(0, 0, 0, @gradient-top-opacity);
  @gradient-bottom-opacity: 54%;
  @gradient-bottom: rgba(0, 0, 0, @gradient-bottom-opacity);

  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -moz-linear-gradient(
    top,
    @gradient-top @gradient-top-opacity,
    @gradient-bottom @gradient-bottom-opacity
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(@gradient-top-opacity, @gradient-top),
    color-stop(@gradient-bottom-opacity, @gradient-bottom)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    @gradient-top @gradient-top-opacity,
    @gradient-bottom @gradient-bottom-opacity
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    @gradient-top @gradient-top-opacity,
    @gradient-bottom @gradient-bottom-opacity
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    @gradient-top @gradient-top-opacity,
    @gradient-bottom @gradient-bottom-opacity
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    @gradient-top @gradient-top-opacity,
    @gradient-bottom @gradient-bottom-opacity
  ); /* W3C */

  // pointer-events: none;
}

#pbp-logo {
  color: lighten(@pbp-bg-color, 54%);
  padding: 0px;
  position: relative;

  font-size: @pbp-base-font-size;
  font-family: @pbp-font-nav;
  white-space: nowrap;

  img {
    height: 2.8 * @pbp-base-font-size;
  }

  text-decoration: none;
  border: none;

  // &::after {
  //     .nav-gradient();
  // }

  .hover-darken();

  .pbp-dot {
    position: relative;
    display: inline-block;
    color: saturate(@pbp-blue, 100%);
    z-index: 20;
  }
}

.hover-darken() {
  transition: @pbp-logo-transition-timer ease-out color;

  &:hover,
  &:focus,
  &:active {
    color: darken(@pbp-fg-color, 32%);
    .pbp-dot {
      .pbp-dot-active();
    }
  }
}
