@import "variables";
@import "colors";

.pbp-article-li {
  display: grid;

  // default layout
  grid-template-areas:
    "thum title"
    "thum summ"
    "thum meta";
  grid-template-columns: minmax(200px, 1fr) 2fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: @padding-base-vertical * 1.2;

  // tight layout
  &.vertical {
    margin-bottom: @padding-large-vertical * 2;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    padding-top: 0;
    grid-template-areas:
      "thum"
      "title"
      "summ"
      "meta";
    .pbp-article-thumbnail {
      width: 100%;
    }

    // don't show summary in vertical mode
    .pbp-article-summary {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .vertical();
  }

  .pbp-article-title {
    grid-area: title;
    font-size: 1.6rem;
    padding-top: 3px;
    margin: 0;
  }
  .pbp-article-meta {
    grid-area: meta;
    color: darken(@pbp-fg-color, 22%);
    padding-bottom: 3px;
    font-size: 0.85rem;
    font-weight: bold;
    time {
      background-color: darken(@pbp-fg-color, 100%);
      color: darken(@pbp-fg-color, 36%);
      padding: 6px 6px 4px;
      border-radius: 3px;
    }
  }
  .pbp-article-thumbnail {
    grid-area: thum;
    margin: 0;
  }
  .pbp-article-summary {
    grid-area: summ;
    color: darken(@pbp-fg-color, 22%);
    display: flex;
    align-items: center;
    margin-bottom: @padding-base-vertical;
  }

  margin-bottom: @padding-large-vertical * 4;

  &:last-child {
    margin-bottom: 0;
  }
}
