.footer-label {
  color: darken(@pbp-fg-color, 32%);
  display: block;
  text-align: center;
}
.pbp-social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  font-size: 1.6 * @pbp-base-font-size;
  a {
    color: @pbp-blue;
    transition: color 0.2 ease-out;
    &:hover {
      color: lighten(@pbp-blue, 32%);
    }
    &:active,
    &:focus {
      color: darken(@pbp-blue, 16%);
    }
  }
}
