@import "variables";

.toc,
#TableOfContents {
  &::before {
    content: "Table of Contents";
    display: block;
    margin-bottom: @padding-base-vertical;
    font-weight: bold;
  }

  &.wide {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }

  // no margin on nested lists
  ul ul {
    margin: 0;
  }
}

// hide the h1 bullet in the TOC
#TableOfContents > ul {
  padding: 0;
  margin-left: 0;
  margin-bottom: 4px;
}

#TableOfContents > ul > li {
  list-style: none;
}
