{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL | sanitizeurl }}
<article class="pbp-article">
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  {{/*
  {{ with .Params.thumbnail }}
    <img src="{{ . }}" alt="thumbnail">
  {{ end }}
  */}}
  <!--
  -->
  <section>
    {{ .Content }}
  </section>
  <footer>
    <div class="pbp-article-meta">
      <div class="pbp-article-date">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      <div class="pbp-article-tags">
        {{ range .Params.tags }}
        <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="c-tag">#{{ . }}</a>
        {{ end }}
      </div>
    </div>

    {{ with .Site.Params.disqus }}
    <div id="disqus_thread"></div>
    <script>
    var disqus_shortname = '{{ . }}';
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {{ end }}

    {{/*
    <nav>
      <div>
        <div>
          {{ if .Prev }}
          <a href="{{ .Prev.Permalink }}">Newer</a>
          {{ else }}
          {{ end }}
        </div>
        <div>
          {{ if .Next }}
          <a href="{{ .Next.Permalink }}">Older</a>
          {{ else }}
          {{ end }}
        </div>
      </div>
    </nav>
    */}}

    {{ partial "related.html" . }}
  </footer>
</article>
{{ partial "footer.html" . }}
