@font-face{
    font-family: 'Silkscreen';
    src: url('assets/fonts/silkscreen_normal/slkscr-webfont.eot');
    src: url('assets/fonts/silkscreen_normal/slkscr-webfont.eot?iefix') format('eot'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.woff') format('woff'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.ttf') format('truetype'),
         url('assets/fonts/silkscreen_normal/slkscr-webfont.svg#webfont') format('svg');
}

body {
    background  : black;
    color       : white;
    font-family : Silkscreen, monospace;
    padding     : 0;
    margin      : 0;
    overflow    : hidden;
    height      : 100%;
}
canvas {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    z-index   : 100;
    transform : translate(-50%, -50%);

    box-shadow:
        0 0 2px 0px  black,
        0 0 1px 20px rgba(255, 255, 255, 0.3),
        0 0 1px 24px black,
        0 0 1px 36px rgba(255, 255, 255, 0.25),
        0 0 1px 40px black,
        0 0 1px 46px rgba(255, 255, 255, 0.2),
        0 0 1px 50px black,
        0 0 1px 54px rgba(255, 255, 255, 0.15),
        0 0 1px 58px black,
        0 0 1px 60px rgba(255, 255, 255, 0.1),
        0 0 1px 64px black,
        0 0 1px 65px rgba(255, 255, 255, 0.05);
}

#game-container {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -54%);
    width     : 900px;
    height    : 900px;
}

.player-container {
    position : absolute;
    width    : 600px;
    z-index  : 200;
}

.player-container .press-start {
    font-size : 2.4em;
    position  : absolute;
    top       : 45%;
    transform : translateY(-50%);
}

.player-container .powerup table {
    font-size   : 1.6rem;
    line-height : 1;
    width       : 100%;
}
.player-container .powerup table td.name { text-align: right; }
.player-container .powerup table td.count { text-align: left; }

.player-container .gamer-id,
.player-container .score,
.player-container .lives,
.player-container .powerup {
    font-size   : 2.9em;
    text-align  : center;
    line-height : 1;
    margin      : 6px 0;
}

.player-container .gamer-id { font-size: 1.5rem; }
.player-container .score { font-size: 5rem; }
.player-container .lives { font-size: 3rem; }

.hide {
    display: none !important;
}

.gamepad-button {
    background-color : lightgrey;
    border-radius    : 50%;
    color            : black;
    height           : 18px;
    width            : 18px;
    vertical-align   : middle;
    text-align       : center;
    display          : inline-block;
    font-size        : 1.1rem;
    line-height      : 1;
}

/* From:
 * http://stackoverflow.com/questions/23985018/simple-css-animation-loop-fading-in-out-loading-text
 */
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation : flickerAnimation 2.71828s infinite;
  -moz-animation : flickerAnimation 2.71828s infinite;
    -o-animation : flickerAnimation 2.71828s infinite;
       animation : flickerAnimation 2.71828s infinite;
}

.player-container {
    position   : absolute;
    width      : 250px;
    height     : 275px;
    text-align : center;
}
.player-container ol    { list-style: none; padding: 0; }
.player-container ol li { padding: 2px 6px; margin-left: -2px; }

#player-n-container { color : #5D9BFE; top    : 150px; right  : -200px; text-shadow: 0 0 3px #5D9BFE; background-color: rgba(93, 155, 254, 0.15); padding: 10px; }
#player-s-container { color : #26BF4A; bottom : 150px; left   : -200px; text-shadow: 0 0 3px #26BF4A; background-color: rgba(38, 191, 74, 0.13); padding: 10px; }
#player-e-container { color : #E7E746; bottom : 150px; right  : -200px; text-shadow: 0 0 3px #E7E746; background-color: rgba(231, 231, 70, 0.1); padding: 10px; }
#player-w-container { color : #F72C2C; top    : 150px; left   : -200px; text-shadow: 0 0 3px #F72C2C; background-color: rgba(247, 44, 44, 0.15); padding: 10px; }

#player-n-container .dim { color : rgba(93  , 155 , 254 , 0.3); text-shadow: 0 0 3px rgba(93   , 155 , 254 , 0.3); }
#player-s-container .dim { color : rgba(38  , 191 , 74  , 0.3) ; text-shadow: 0 0 3px rgba(38  , 191 , 74  , 0.3); }
#player-e-container .dim { color : rgba(231 , 231 , 70  , 0.3); text-shadow: 0 0 3px rgba(231  , 231 , 70  , 0.3); }
#player-w-container .dim { color : rgba(247 , 44  , 44  , 0.3) ; text-shadow: 0 0 3px rgba(247 , 44  , 44  , 0.3); }

#player-n-container ol li.highlighted { box-shadow: 0 0 4px 1px #5D9BFE; color: black; background-color: #5D9BFE;}
#player-s-container ol li.highlighted { box-shadow: 0 0 4px 1px #26BF4A; color: black; background-color: #26BF4A;}
#player-e-container ol li.highlighted { box-shadow: 0 0 4px 1px #E7E746; color: black; background-color: #E7E746;}
#player-w-container ol li.highlighted { box-shadow: 0 0 4px 1px #F72C2C; color: black; background-color: #F72C2C;}

#player-n-container .gamepad-button { background-color: #5D9BFE; }
#player-s-container .gamepad-button { background-color: #26BF4A; }
#player-e-container .gamepad-button { background-color: #E7E746; }
#player-w-container .gamepad-button { background-color: #F72C2C; }

/* .selection-large .login-controls .selection-small .select-gamerid */

.player-container .selection-small { color: black; text-shadow: 0 0 3px rgba(0,0,0,0.2); }

#player-n-container .selection-small { background-color: #5D9BFE; box-shadow: 0 0 3px 0px #5D9BFE;}
#player-s-container .selection-small { background-color: #26BF4A; box-shadow: 0 0 3px 0px #26BF4A;}
#player-e-container .selection-small { background-color: #E7E746; box-shadow: 0 0 3px 0px #E7E746;}
#player-w-container .selection-small { background-color: #F72C2C; box-shadow: 0 0 3px 0px #F72C2C;}

.player-container .selection-large {
    font-size   : 1.7em;
    text-shadow : 0 0 3px rgba(0,0,0,0.2);
    text-align  : center;
    color       : black;
    display     : block;
    margin      : 10px 0;
}

#player-n-container .selection-large { background-color: #5D9BFE; box-shadow: 0 0 3px 0px #5D9BFE;}
#player-s-container .selection-large { background-color: #26BF4A; box-shadow: 0 0 3px 0px #26BF4A;}
#player-e-container .selection-large { background-color: #E7E746; box-shadow: 0 0 3px 0px #E7E746;}
#player-w-container .selection-large { background-color: #F72C2C; box-shadow: 0 0 3px 0px #F72C2C;}

.player-container .login-controls {
    text-align : center;
    font-size  : 0.8rem;
}

#pause-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: 0;
    padding: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

#help {
    position : absolute;
    bottom   : 75px;
    left     : -187px;
    padding  : 0px;
    opacity  : 0.7;
    text-shadow: 0 0 3px grey;
}
#help ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}
#help .help-desc { display: none; }


/* An animation to fade out the descriptive text after giving the player a
 * little while to read it. */
@keyframes fadeOutAnimation {
  0%   { opacity:1; }
  90%  { opacity:0.8; }
  100% { opacity:0; z-index: 0; }
}
@-o-keyframes fadeOutAnimation{
  0%   { opacity:1; }
  90%  { opacity:0.8; }
  100% { opacity:1; z-index: 0;}
}
@-moz-keyframes fadeOutAnimation{
  0%   { opacity:1; }
  90%  { opacity:0.8; }
  100% { opacity:0; z-index: 0;}
}
@-webkit-keyframes fadeOutAnimation{
  0%   { opacity:1; }
  90%  { opacity:0.8; }
  100% { opacity:0; z-index: 0;}
}

a { color: #29D; }
a:visited { color: #9727BD; }

#description {
    padding     : 10px;
    position    : absolute;
    z-index     : 300;
    overflow    : auto;
    bottom      : 0;
    width       : 600px;
    left        : 50%;
    text-align  : center;
    transform   : translateX(-50%);
}
