html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #030000;
    color: #F7F7F7;
    position: relative;
}
header {
    text-align: center;
}
.logo {
    font-size: 2vh;
    color: #030000;
    background-color: #F7F7F7;
    margin: 8px 8px 4px;
    padding: 0;
    letter-spacing: 0.5vh;
    display: inline-block;
    padding: 2px 5px;
}
a:first-child {
    margin-left: 0;
}
a {
    margin: 10px;
    padding: 6px 8px;
    background-color: #A19B88;
    color: #F7F7F7;
    font-weight: bold;
    border-radius: 2px;
    text-decoration: none;
}
a.active {
    background-color: #3E3F41;
}
.photos {
    text-align: center;
}
.photo {
    position: relative;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    width: 220px;
    height: 132px;
    margin: 5px 7px;
    box-sizing: content-box;
}
.photo img {
    user-select: none;
}
.photo.full {
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    margin: 0;

    /* make bigger than viewport */
    height: 200%;
    width: 200%;
    transform: translate(-25%, -25%);

    background-color: black;
    z-index: 10;
    opacity: 0;
    transition: 0.3s opacity linear;
    pointer-events: none;
}
.photo.full.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.1s opacity linear; /* transition opacity slower on the way back out */
    transform: translate(-25%, -25%) scale(1.0);
}
.photo.full img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100%;
    transform: translate(-50%, -50%) scale(0.9);
    transition: 0.3s transform ease-out;
}
.photo.full.active img {
    transform: translate(-50%, -50%) scale(1.0);
}
.photo.full::after {
    content: attr(data-title);
    position: absolute;
    bottom: 57vh;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 2.8vh;
    letter-spacing: 0.5vh;
}
.photo.thumb:hover::before {
    content: attr(data-title);
    position: absolute;
    opacity: 1;
}
/* .photo.thumb::before { */
/*     content: attr(data-title); */
/*     position: absolute; */
/*     opacity: 1.0; */
/* } */
.photo::before {
    content: attr(data-title);
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 0.1s ease-out;
    text-align: left;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8vh;
    letter-spacing: 0.5vh;
    text-shadow: 0px 0.5px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(0,0,0,0.3);
    padding: 2px 5px;
    max-width: 87%;
    word-wrap: break-word;
}
footer {
    color: #6f6f6f;
    font-size: 0.6rem;
    text-align: center;
    margin-bottom: 6px;
}

