@font-face {
    font-family: 'early57';
    src: url('early57-webfont.woff2') format('woff2'),
    url('early57-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #FC8724;
}

a:visited {
    color: #fff;
}

html { height: 100%; }
body {
    font-family: 'early57', serif;
    font-size: 8vh;
    text-align: center;
    background: #1B53A6;
    color: #fff;
}

* {
    user-select: none;
}

.window {
    border: 5px solid #fff;
    padding: 0;
    margin: 3vh 3vw 3vh;
}

.window .menubar {
    background: #fff;
    color: #1B53A6;
    padding: 0 0 0 5px;
    margin: 0;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}
.window .menubar * {
    margin: 0;
    font-size: 3rem;
    text-align: left;
}
.window .menubar .buttons {
    text-align: right;
    padding: 0px 5px 10px 0;
}
.window .menubar .button {
    border: 3px solid #1B53A6;
    padding: 0 8px;
    font-size: 0.8em;
    text-align: center;
}
.window .content {
    padding: 0.8em 0.5em 0.8em;
}
.window .content *:first-child {
    margin-top: 0;
}
.window .content *:not(button) {
    user-select: auto;
}

#stats {
    margin-bottom: 0.5em;
}

button {
    background: #fff;
    color: #1B53A6;
    border: 5px solid #1B53A6;
    outline: 5px solid #fff;
    font-family: 'early57', serif;
    font-size: 8vh;
    text-align: center;
    padding: 0 20px;
}
button:active {
    color: #fff;
    background: #1B53A6;
    outline: 5px solid #1B53A6;
    border: 5px solid #fff;
}

body:not([data-popups=disabled]) .popups-disabled { display: none; }

body:not([data-state=playing]) .while-playing { display: none; }
body:not([data-state=menu]) .before-playing { display: none; }
body:not([data-state=gameover]) .after-playing { display: none; }
body:not([data-won]) .won { display: none; }
body:not([data-lost]) .lost { display: none; }

body.popup {
    margin: 0;
    padding: 0 10vw 0;
    overflow: hidden;
    height: 100%;
    display: grid;
    grid-template: 23% 23% 23% 23% / 1fr;
}
body.popup h1 {
}
body.popup h2 {
    font-size: 22vh;
}
body.popup * {
    margin: 0;
}

.stat, #final-close-count {
    color: #FC8724;
}

.credits {
    margin-top: 7vh;
    margin-bottom: 2vh;
    font-size: 3vh;
}
