{{ if .Site.Menus.main }}
<nav class="pbp-navbar" role="navigation">
  <div class="pbp-nav-description">
    WEB, DEMOSCENE, GAMEDEV.&nbsp;&nbsp;
  </div>
  <div class="pbp-nav-logo">
    <a href="{{ .Site.BaseURL }}" title="{{ .Site.BaseURL }} homepage" id="pbp-logo">
      <img src="/images/logo.png">
    </a>
  </div>
  <div class="pbp-navitems">
    {{ $list := (.Site.Menus.main.ByWeight) }}
    {{ $len := (len $list) }}
    {{ range $index, $element := $list }}
    <a href="{{ .URL }}" class="pbp-navitem">
      &nbsp;{{- .Name -}}
    </a>
    {{ if lt (add $index 1) $len }}
    &nbsp;<span class="pbp-nav-separator">&middot;</span>
    {{ end }}
    {{ end }}
  </div>
</nav>
{{ end }}

{{/*
<nav class="pbp-navbar" role="navigation">
  <div class="pbp-navitems">
    <a class="pbp-navitem" href="/projects" title="Projects">projects</a>
    <a class="pbp-navitem" href="/posts" title="Blog">blog</a>
    <a class="pbp-navitem icon-github-alt" href="https://github.com/mwcz" title="Clone my git repos"></a>
    <a class="pbp-navitem icon-twitter" href="https://twitter.com/mwcz" title="Eat a tweet"></a>
  </div>
</nav>
*/}}
