{{ if .Site.Menus.main }}
<nav class="pbp-navbar" role="navigation">
  <div>
    <a href="{{ .Site.BaseURL }}" title="{{ .Site.BaseURL }} homepage" id="pbp-logo">
      {{ .Site.Title }}
    </a>
  </div>
  <div class="pbp-navitems">
    {{ range .Site.Menus.main.ByWeight }}
    <a href="{{ .URL }}" class="pbp-navitem">
      {{- .Name -}}
    </a>
    {{ end }}
  </div>
</nav>
{{ end }}

{{/*
<nav class="pbp-navbar" role="navigation">
  <div class="pbp-navitems">
    <a class="pbp-navitem" href="/projects" title="Projects">projects</a>
    <a class="pbp-navitem" href="/posts" title="Blog">blog</a>
    <a class="pbp-navitem icon-github-alt" href="https://github.com/mwcz" title="Clone my git repos"></a>
    <a class="pbp-navitem icon-twitter" href="https://twitter.com/mwcz" title="Eat a tweet"></a>
  </div>
</nav>
*/}}
