<nav
  class="pbp-pagination"
  aria-label="Pagination Navigation"
  style="
  {{ if eq 1 (div (float .PageNumber) .TotalPages) }}
  --pagination-percentage-border-color: #f1f1f1;
  {{ end }}
  --pagination-progress: {{ div (float .PageNumber) .TotalPages }}fr;
  --pagination-remaining: {{ sub 1 (div (float .PageNumber) .TotalPages) }}fr;
  ">
  <div class="pbp-pagination-layout">
    <div>
      {{if .HasPrev}}
      <a rel="next" href="{{ .Prev.URL }}">Prev</a>
      {{else}}
      <a disabled rel="prev">Prev</a>
      {{end}}
    </div>
    <div class="pbp-pagination-bar pbp-pagination-progress"></div>
    <div class="pbp-pagination-bar pbp-pagination-remaining"></div>
    <div>
      {{if .HasNext}}
      <a rel="prev" href="{{ .Next.URL }}">Next</a>
      {{else}}
      <a disabled rel="prev">Next</a>
      {{end}}
    </div>
  </div>
</nav>
