{{ $related := .Site.RegularPages.Related . | first 6 }}
{{ with $related }}
<section>
  <h3>RELATED POSTS</h3>
  <div class="pbp-related">
    {{ range . }}
    {{ .Render "li" }}
    {{/*
    <li>
      {{ if .Params.thumbnail }}
      <a href="{{ .Permalink }}">
        <img loading="lazy" src="{{ .Permalink }}{{ .Params.thumbnail }}" alt="thumbnail for blog post '{{ .Title }}'">
        <span>{{ .Title }}</span>
      </a>
      {{ end }}
    </li>
    */}}
    {{ end }}
  </div>
</section>
{{ end }}

{{/*
<article class="pbp-article-li">
  <h2 class="pbp-article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <div class="pbp-article-summary">
    {{ if .Description }}
      {{ .Description | plainify | safeHTML }}
    {{ else }}
      {{ .Summary | plainify | safeHTML }}
    {{ end }}
  </div>
  <div class="pbp-article-meta">
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
      {{ .Date.Format "Jan 2, 2006" }}
    </time>
  </div>
  {{ if .Params.thumbnail }}
  <a class="pbp-article-thumbnail" href="{{ .Permalink }}">
    <img src="{{ .Permalink }}{{ .Params.thumbnail }}" alt="thumbnail for '{{ .Title }}'">
  </a>
  {{ end }}
</article>
*/}}
