{{ if or ( .Site.Params.avatar ) ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
<aside class="p-author beside">
  {{ with .Site.Params.avatar }}
  <!-- <div class="c-avatar p-author__avatar"> -->
  <!--   <img alt="Author Avatar" src="{{ . }}" /> -->
  <!-- </div> -->
  {{ end }}
  {{ if or ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
  <div>
    {{ with .Site.Params.author }}
    <small>AUTHOR</small>
    <br>
    {{ . }}
    {{ end }}
    {{ with .Site.Params.bio }}
    is {{ . }}.
    {{ end }}
    {{ with .Site.Params.contact }}
    <a href="{{ . }}">
      Contact me</a>.
    {{ end }}
  </div>
  <div>
    {{ partial "link.html" . }}
  </div>
  {{ end }}
</aside>
{{ end }}
