{{ if or ( .Site.Params.avatar ) ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
<aside>
  {{ if or ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
    <small class="footer-label">CONTACT ME</small>
    {{ if .Site.Params.avatar }}
    <img style="float: left" src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.contact }}?s=100&d=identicon">
    {{ end }}
    {{ .Site.Params.author }}
    {{ with .Site.Params.bio }}
    is {{ . }}
    {{ end }}
    {{ partial "link.html" . }}
  {{ end }}
</aside>
{{ end }}
