{{ if or ( .Site.Params.avatar ) ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
<aside class="beside">
  {{ if or ( .Site.Params.author ) ( .Site.Params.bio ) ( .Site.Params.contact ) }}
  <div>
    <small class="footer-label">POST</small>

    <div class="pbp-article-meta">
      <div class="pbp-article-date">
        This post was published on
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      </div>
      and filed under
      <span class="pbp-article-tags">
        {{ range .Params.tags }}
        <a href="/tags/{{ . | urlize }}" class="c-tag">#{{ . }}</a>
        {{ end }}
      </span>
    </div>
  </div>
  <div>
    <small class="footer-label">AUTHOR</small>
    <img style="float: left" src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.contact }}?s=100&d=identicon">
    {{ .Site.Params.author }}
    {{ with .Site.Params.bio }}
    is {{ . }}
    {{ end }}
    {{ partial "link.html" . }}
  </div>
  {{ end }}
</aside>
{{ end }}
